/* Multiple browser hints to deter translation */
/* Let text be selectable, just avoid translation */
.notranslate,
[translate="no"] {
    user-select: text !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
}

/* Target known translation classes */
.translated-ltr,
.translated-rtl {
    display: none !important;
}

.main-header .sidebar-toggle {
    border: none;
}

.mandatory,
.text-danger {
    color: rgb(245, 92, 92);
}

.readonly {
    background: #fff !important;
}

.sectionHeader {
    border-top: 2px solid #f4f4f4;
    background: #f4f4f4 !important;
    margin-top: 30px;
    text-transform: uppercase;
}

select[readonly] {
    pointer-events: none;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    overflow-x: scroll !important;
    overflow-y: visible !important;
    padding: 15px 0 !important;
}

.select2-selection__choice__remove {
    color: red !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    /* background-color: #00c0ef;
    border-color: #00acd6; */
    color: #000 !important;
    font-family: helvetica, arial, sans-serif;
}

.skin-blue .sidebar-menu>li.header {
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.skin-red .sidebar-menu>li.header {
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px !important;
}

label,
form table tr th,
form table tr td>label,
form div label,
form table tr th,
form table tr td>label,
.labels,
.labels>label,
.control-label {
    font-weight: bold !important;
}

.requestCountDataTable thead th,
.requestCountDataTable tbody td {
    vertical-align: middle !important;
}

.resultInputContainer {
    position: relative;
}

.resultInputContainer datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
}

.resultInputContainer datalist option {
    font-size: 1em;
    padding: 0.3em 1em;
    background-color: #777;
    color: #eee;
    cursor: pointer;
}

/* option active styles */
.resultInputContainer datalist option:hover,
.resultInputContainer datalist option:focus,
.resultInputContainer datalist option.selected {
    color: #fff;
    background-color: #3C8DBC;
    outline: 0 none;
}

/* .main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
} */


.main-sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    padding-right: 0;
    overflow-y: auto;
}

.sampleCounterDiv {
    width: 100%;
    background: #3c8dbc;
    padding: 0.5em;
    color: #fff;
    margin-top: 0.5em;
}

#alertText {
    color: red;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
}


.encryptPIIContainer {
    display: none;
}

.select2-selection--multiple {
    max-height: 100px;
    width: auto;
    overflow-y: scroll !important;
}

.trainingMarquee {
    max-height: 50px;
    padding-top: 10px;
    font-weight: bold;
    color: #fff;
    width: 700px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em;
    text-transform: capitalize;
}


.privilege-div {
    margin-top: 5px;
    border: 1px solid #eee;
    padding: 10px;
}
