.mandatory,
.text-danger {
    color: rgb(245, 92, 92);
}

.readonly {
    background: #fff !important;
}

.treeview-menu li {
    margin-left: 10px !important;
}

.sectionHeader {
    border-top: 2px solid #f4f4f4;
    background: #f4f4f4 !important;
    margin-top: 30px;
    text-transform: uppercase;
}

select[readonly] {
    pointer-events: none;
}

.dataTables_empty {
    text-align: center;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    overflow-x: scroll !important;
    overflow-y: visible !important;
    padding: 15px 0 !important;
}

.select2-selection__choice__remove {
    color: red !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    /* background-color: #00c0ef;
    border-color: #00acd6; */
    color: #000 !important;
    font-family: helvetica, arial, sans-serif;
}

.skin-blue .sidebar-menu>li.header {
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.skin-red .sidebar-menu>li.header {
    background: #ddd;
    color: #333;
    font-weight: bold;
}

.select2-container .select2-selection--single {
    height: 34px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 22px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px !important;
}

label,
form table tr th,
form table tr td>label,
form div label,
form table tr th,
form table tr td>label,
.labels,
.labels>label,
.control-label {
    font-weight: bold !important;
}


.resultInputContainer {
    position: relative;
}

.resultInputContainer datalist {
    position: absolute;
    max-height: 20em;
    border: 0 none;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999;
}

.resultInputContainer datalist option {
    font-size: 1em;
    padding: 0.3em 1em;
    background-color: #777;
    color: #eee;
    cursor: pointer;
}

/* option active styles */
.resultInputContainer datalist option:hover,
.resultInputContainer datalist option:focus {
    color: #fff;
    background-color: #3C8DBC;
    outline: 0 none;
}

.notifier {
    width: 100%;
    position: fixed;
    height: 40px;
    background: #555;
    color: #eff;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    z-index: 9999;
    opacity: 0.8;
}

.failure {
    width: 100%;
    position: fixed;
    height: 40px;
    background: #D54E21;
    color: #fff;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    z-index: 9999;
}

.success {
    width: 100%;
    position: fixed;
    height: 40px;
    background: #6c0;
    color: #006505;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    z-index: 9999;
}
